/* [VARIABLES:] */
:root {
  --main-text-color: rgb(190, 3, 3);
  --text-stroke-color: rgb(235, 38, 81);
  --text-highlight-color: rgb(255, 0, 0);

  --width-s: 100%;
}
/* ---------- */
/* ---------------- */

html,
body {
  min-height: 100vh;

  background: #181818;
  color: #ffffff;

  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

#root,
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;
}

/*-------------------------TITLE-------------------------*/
@keyframes glowing {
  /* Responsible for making the title glow up and down */
  0% {
    text-shadow: 0px 0px 15px var(--text-stroke-color);
  }
  50% {
    text-shadow: 0px 0px 30px var(--text-stroke-color);
  }
  100% {
    text-shadow: 0px 0px 15px var(--text-stroke-color);
  }
}

@keyframes animate {
  0% {
    width: 0%;
  }
  10% {
    width: 0%;
  }
  70%,
  100% {
    width: 100%;
  }
}

#root .title::before {
  /*CREDIT: https://www.youtube.com/watch?v=4PbgtyE0mGs */
  content: attr(data-text);
  position: absolute;
  width: 0%;

  color: var(--text-highlight-color);
  text-shadow: 0px 0px 3px var(--text-highlight-color);

  overflow: hidden;
  white-space: nowrap;

  animation: animate 8s linear forwards 2s;
}

#root .title {
  font-size: 60px;
  font-weight: bold;
  color: var(--main-text-color);
  -webkit-text-stroke: 0.3px #000000;

  animation: glowing 8s infinite; /* Adjust the duration as needed */

  margin-top: 3%;
  z-index: 2;
}

#root h2 {
  color: var(--main-text-color);
  margin-top: 10px;
}
/*--*/

/*-------------------------APP-------------------------*/

/*-------------------------GENERATE BUTTON-------------------------*/
.ButtonHolder {
  margin-top: 5%;
  border-radius: 20px;

  background-color: red;

  height: 8vh;
  width: var(--width-s);

  display: flex;
  justify-content: center;
  align-items: center;
}
